body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.main-comment {
  padding-right: 20px;
}

.Card_postComments {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Card_postComments_item {
  margin-bottom: 15px;
  padding: 10px 0;
  position: relative;
  border-right: 3px solid #ddd;
  border-radius: 10px;
}

.replies {
  margin-right: 3px;
}

.reply_post {
  margin-left: 30px;
  position: relative;
  padding-right: 20px;
  /* border-right: 3px solid #ddd; */
  /* border-radius: 10px; */
}

.reply_post::before {
  content: "";
  position: absolute;
  right: -17px;
  height: 3px;
  width: 26px;
  background-color: #ddd;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.img img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.count.time {
  font-size: 12px;
  color: #888;
}

.PostComment p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.6;
  text-align: right;
  background-color: #ddd;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
}

.postCommentsAction {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  background-color: transparent;
  border: none;
  color: #007bff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f1f1f1;
}

button i {
  font-size: 18px;
}

button p {
  margin: 0;
  font-size: 14px;
}

.replyInput,
.replyInputBelow {
  margin-top: 10px;
  display: none;
}

.input-groub {
  width: 100% !important;
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  direction: rtl;
}

textarea::placeholder {
  color: #bbb;
  text-align: right;
}

.card_sendComment {
  margin-top: 20px;
  align-items: center;
}

.card_sendComment textarea {
  flex: 1;
  margin-left: 10px;
}

.card_sendComment button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.card_sendComment button:hover {
  background-color: #0056b3;
}

.nested-replies {
  padding: 0;
  margin-right: 10px;
  border-right: 3px solid #ddd;
  border-radius: 10px;
}